.animate-password {
    background-image: linear-gradient(90deg, orange 50%, transparent 50%);
    background-size: 200%;
    background-position-x: -100%;
    animation-name: passwordanimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes passwordanimation {
    0% { background-position-x: 100%;}
    100% { background-position-x: 0;}
}